<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VV Studio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="icon" href="images/logo.jpg" sizes="16x16" type="image/jpg">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25"><a href="index.html"><img src="images/logo.jpg" width="90" height="90" alt=""></a></div>

          <div class="mx-auto ">
            <h4 style="color: #000; margin-top: 10px; margin-left: 50%;"><span class="icon-phone"></span> Call us at <span style="font-weight: 800;">8310782820</span></h4>
          </div>
        </div>
      </div>
      
    </header>

    <div class="intro-section" id="home-section">
      
      <div class="slide-1" style="background-image: url('images/hero_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row align-items-center">
                <div class="col-lg-6 mb-4">
                  <h1 data-aos="fade-up" data-aos-delay="100">People will stare. Make it worth their while!</h1>
                  <p class="mb-4"  data-aos="fade-up" data-aos-delay="200">A women led exclusive female salon!</p>
                </div>

                <div class="col-lg-5 ml-auto formbox" data-aos="fade-up" data-aos-delay="200">
                  <form action="/check" method="post" class="form-box">
                    <h3 class="h4 text-black mb-4">Book Now</h3>
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Name" required>
                    </div>
                    <div class="form-group mb-4">
                      <input type="email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group mb-4">
                      <input type="text" name="mobilenumber" class="form-control" placeholder="Mobile Number" required>
                    </div>
                    <div class="form-group mb-4">
                      <label for="serve">Select a Service: </label><br>
                      <select name="service" id="serve">
                        <option value="Hair smoothening">Hair smoothening</option>
                        <option value="Keratin Treatment">Keratin treatment</option>
                        <option value="Cysteine treatment">Cysteine treatment</option>
                        <option value="Global highlights">Global highlights</option>
                        <option value="Nails extension">Nails extension</option>
                        <option value="Make over">Make over</option>
                        <option value="Studio support for models">Studio support for models</option>
                      </select>
                    </div>
                    <div class="form-group mb-4">
                      <label for="pay">Payment: </label><br>
                      <select name="payment" id="pay">
                        <option value="Pay now">Pay now</option>
                        <option value="Pay later">Pay later</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Fix an Appointment Date: </label>
                      <input type="datetime-local" name="date" class="form-control" placeholder="Appointment Date" required>
                    </div>
                    <div class="form-group">
                      <input type="submit" name="submit" class="btn btn-primary btn-pill" value="Book Now">
                    </div>
                  </form>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div class="site-section courses-title" id="courses-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title">SERVICES</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section courses-entry-wrap"  data-aos="fade-up" data-aos-delay="100">
      <div class="container">
        <div class="row">

          <div class="owl-carousel col-12 nonloop-block-14">

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="#"><img src="images/img_5.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <div class="meta"><span class="icon-clock-o"></span>All day</div>
                <h3><a href="#">Hair smoothening</a></h3>
                <p>Hair smoothing is the perfect new trend for all you women who want silky, shiny, and smooth hair. The plus point of hair smoothening is that it is much more satisfying and safer than hair straightening, which involves altering the structure of your hair. Smoothening can help you achieve that sleek look, with smooth, frizz-free hair that will last for 6 months or more. </p>
              </div>
              <div class="d-flex border-top stats">
                <div class="py-3 px-4"><span class="icon-thumbs-o-up"></span> 2,674+ customers</div>
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="#"><img src="images/img_4.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <div class="meta"><span class="icon-clock-o"></span>All day</div>
                <h3><a href="#">Keratin treatment</a></h3>
                <p>Keratin treatment is one of the healthiest ways to get silky smooth hair. Keratin works down through the roots and gets absorbed by hair cuticles, hence resulting in luscious, glossy hair. It claims to work wonders on curly hair by making it less frizzy, easier to style, and straighter in appearance. </p>
                <br><br>
              </div>
              <div class="d-flex border-top stats">
                <div class="py-3 px-4"><span class="icon-thumbs-o-up"></span> 1,870+ customers</div>
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="#"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <div class="meta"><span class="icon-clock-o"></span>All day</div>
                <h3><a href="#">Nails extension/art</a></h3>
                <p>Nail extension is one of the best fashion accessories a woman can wear. In addition to being fashionable, nail extensions also offer coverage to nails that are prone to damage or easily broken.
                </p>
                <br><br><br><br><br>
              </div>
              <div class="d-flex border-top stats">
                <div class="py-3 px-4"><span class="icon-thumbs-o-up"></span> 3,870+ customers</div>
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="#"><img src="images/img_9.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <div class="meta"><span class="icon-clock-o"></span>All day</div>
                <h3><a href="#">Global highlights</a></h3>
                <p>No one wants boring hair. That’s why global highlights make your hair look more lively and fashionable. All hair types can rock highlights. Whether you have darker hair or lighter hair, there are many options for each hair type. </p>
                <br><br><br><br>
              </div>
              <div class="d-flex border-top stats">
                <div class="py-3 px-4"><span class="icon-thumbs-o-up"></span> 2,990+ customers</div>
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="#"><img src="images/img_6.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <div class="meta"><span class="icon-clock-o"></span>All day</div>
                <h3><a href="#">Cysteine treatment</a></h3>
                <p>Many people deal with dull, dry, and frizzy hair making them more prone to hair damage. Cysteine treatment treats frizzy hair and adds shine. Cysteine treatment uses a non-essential amino acid called the cysteine complex, to straighten, strengthen, and smoothen hair.</p>
                <br><br><br>
              </div>
              <div class="d-flex border-top stats">
                <div class="py-3 px-4"><span class="icon-thumbs-o-up"></span> 1,345+ customers</div>
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="#"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <div class="meta"><span class="icon-clock-o"></span>All day</div>
                <h3><a href="#">Make over</a></h3>
                <p>A makeover is more than just a way to look presentable. It makes you shine and gives you the confidence to get by the day, still looking fresh as hell!  </p>
                <br><br><br><br><br><br>
              </div>
              <div class="d-flex border-top stats">
                <div class="py-3 px-4"><span class="icon-thumbs-o-up"></span> 2,123+ customers</div>
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="#"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <div class="meta"><span class="icon-clock-o"></span>All day</div>
                <h3><a href="#">Studio support for models.</a></h3>
                <p>One of the top studios in Bangalore and India, VV Studio is into exclusive photo shoots, in house makeup support, and studio space. </p>
                <br><br><br><br><br><br><br>
              </div>
              <div class="d-flex border-top stats">
                <div class="py-3 px-4"><span class="icon-thumbs-o-up"></span> 2,123+ customers</div>
              </div>
            </div>

          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-7 text-center">
            <button class="customPrevBtn btn btn-primary m-1">Prev</button>
            <button class="customNextBtn btn btn-primary m-1">Next</button>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" style="background: #7971ea;" id="intro-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-7 text-center"  data-aos="fade-up" data-aos-delay="">
            <h2 style="color: #fff;" class="section-title">Book Anywhere, Anytime!</h2>
            <p style="color: #000;">Not only do we pamper our customers with the best offers on beauty services but we also bring convenience to the table. Introducing our new book anywhere, anytime feature that lets you book your appointments at any time, without having to worry about making calls to the salon. You can now book, rebook and check-in for your services - you’ve got complete control over your appointments, always. With over 250+ beauty services, you’re just one click away from looking your best and conquering your day!</p>
            <a href="#home-section" style="background: #fff; color: #000;" class="btn btn-primary btn-pill" value="Book Now">Book Now</a>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section" id="programs-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-7 text-center"  data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title">What We Do</h2>
          </div>
        </div>
        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="images/program_7.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Salon / Spa Services</h2>
            <p class="mb-4">Our salon services are provided by professionals with international salon and spa experience. Our list of services ranges from hair and skin care, to spa, and bridal treatments so that you get a wholesome experience and feel well pampered. Our team members are trained to provide the most relaxing and soothing experience at a reasonable cost.</p>
            <div class="d-flex align-items-center custom-icon-wrap mb-3">
              <span class="custom-icon-inner mr-3"><span class="icon icon-flag"></span></span>
              <div><h3 class="m-0">Happy customers</h3></div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap">
              <span class="custom-icon-inner mr-3"><span class="icon icon-star"></span></span>
              <div><h3 class="m-0"> 250+ Services</h3></div>
            </div>

          </div>
        </div>

        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img src="images/program_9.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Academy</h2>
            <p class="mb-4">our Course to freedom - MASTER THE ART OF BEAUTY. - Learn contemporary beauty techniques and get hands-on experience by signing up for our beauty course. This course is taught by industry practitioners, handpicked to give the most effective training. The curriculum at VV Studio & Academy not only focuses on hair and beauty related subjects but also on personal development skills and communication, to ensure your success in the job market.</p>
            <div class="d-flex align-items-center custom-icon-wrap mb-3">
              <span class="custom-icon-inner mr-3"><span class="icon icon-flag"></span></span>
              <div><h3 class="m-0">Professional Coaching</h3></div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap">
              <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
              <div><h3 class="m-0">Multiple Courses</h3></div>
            </div>

          </div>
        </div>

        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="images/program_8.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Studio Support for Models</h2>
            <p class="mb-4">Looking to become the next top model? You’ve come to the right place. VV Studio has just the right tools to capture your talent and help you up the ladder. A portfolio is the most essential document for an aspiring model, that’s why we coordinate with the best in the industry to shoot an outstanding portfolio that will increase your chances of getting a place in the fashion industry. With the help of a team of professionals, we make sure to make your portfolio as diverse and inquisitive as possible.</p>
            <div class="d-flex align-items-center custom-icon-wrap mb-3">
              <span class="custom-icon-inner mr-3"><span class="icon icon-flag"></span></span>
              <div><h3 class="m-0">Inhouse Makeover support</h3></div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap mb-3">
              <span class="custom-icon-inner mr-3"><span class="icon icon-camera"></span></span>
              <div><h3 class="m-0">Photography/ Image Editing</h3></div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap">
              <span class="custom-icon-inner mr-3"><span class="icon icon-home"></span></span>
              <div><h3 class="m-0">Dedicated Studio Space</h3></div>
            </div>

          </div>
        </div>

      </div>
    </div>


    <div class="site-section bg-image overlay" style="background-image: url('images/hero_1.jpg');">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="owl-carousel nonloop-block-13">
            <div class="col-md-12 text-center testimony">
              <img src="images/person_1.jpg" alt="Image" style="margin-left: 37%;" class="img-fluid w-25 mb-4 rounded-circle">
              <h3 class="mb-4">Sushmita Sahela</h3>
              <blockquote>
                <p>&ldquo; It was an amazing experience working as a model for varvadhu studio ..but more than that the people out there is very crisp n friendly .every time you get ready will give you a new feel to look wow ! &rdquo;</p>
              </blockquote>
            </div>
            <div class="col-md-12 text-center testimony">
              <img src="images/person_2.jpg" alt="Image" style="margin-left: 37%;" class="img-fluid w-25 mb-4 rounded-circle">
              <h3 class="mb-4">Shailena Masih Chopra</h3>
              <blockquote>
                <p>&ldquo; I highly recommend vv studio its one stop solution for all my skin and hair care problems. Recently got hair colour done and i am really happy with the results😊😊 &rdquo;</p>
              </blockquote>
            </div>
            <div class="col-md-12 text-center testimony">
              <img src="images/person_3.png" alt="Image" style="margin-left: 37%;" class="img-fluid w-25 mb-4 rounded-circle">
              <h3 class="mb-4">Dee Laimayum</h3>
              <blockquote>
                <p>&ldquo; Ladies! If you are looking for a wholesome spa experience, this is the place! Located right in the midst of a busy area in JP Nagar 5th phase, once you go in, it feels like a safe spa retreat, away from all the hustle and bustle of city life! They have amazing offers and the staff are extremely friendly, polite and professional. Oh, and excellent at carrying out their designated tasks !!!I had a hair spa, full body massage and  pedicure. Each staff member surpassed all my expectations! Nothing was rushed and their primary concern was my wellness and relaxation, I am truly very happy to find this place.The manager has a brilliant attitude, very helpful and welcoming! I am definitely going back for more and I highly recommend this place.  Honestly, 10/10 for everything! &rdquo;</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section pb-0">

      <div class="future-blobs">
        <div class="blob_2">
          <img src="images/blob_2.svg" alt="Image">
        </div>
        <div class="blob_1">
          <img src="images/blob_1.svg" alt="Image">
        </div>
      </div>
      <div class="container">
        <div class="row mb-5 justify-content-center" data-aos="fade-up" data-aos-delay="">
          <div class="col-lg-7 text-center">
            <h2 class="section-title">Why Choose Us</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto align-self-start"  data-aos="fade-up" data-aos-delay="100">

            <div class="p-4 rounded bg-white why-choose-us-box">

              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-flag"></span></span></div>
                <div><h3 class="m-0">Best MakeUp Artists in Town</h3></div>
              </div>

              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-flag"></span></span></div>
                <div><h3 class="m-0">Modern Hair Stylists</h3></div>
              </div>

              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-flag"></span></span></div>
                <div><h3 class="m-0">Follows WHO Safety Standards</h3></div>
              </div>

              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-flag"></span></span></div>
                <div><h3 class="m-0">250+ Services</h3></div>
              </div>

              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-flag"></span></span></div>
                <div><h3 class="m-0">Online Appointment Booking</h3></div>
              </div>

              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light">
                <div class="mr-3"><span class="custom-icon-inner"><span class="icon icon-flag"></span></span></div>
                <div><h3 class="m-0">Studio Support for Models</h3></div>
              </div><br>
              <a href="#home-section" class="btn btn-primary btn-pill" value="Book Now">Book Now</a>

            </div>


          </div>
          <div class="col-lg-7 align-self-end"  data-aos="fade-left" data-aos-delay="200">
            <img src="images/person_transparent.png" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    
     
    <footer class="footer-section bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-2 flist">
            <h3>Services</h3>
            <a href="">Hair</a><br>
            <a href="">Skin</a><br>
            <a href="">Nail</a><br>
            <a href="">Make Over</a><br><br>
          </div>
          <div class="col-md-2 flist">
            <h3>Academy</h3>
            <a href="">Courses</a><br>
            <a href="">Enroll Now</a><br> 
          </div>
          <div class="col-md-2 flist">
            <h3>Studio</h3>
            <a href="">Pakages</a><br> 
          </div>
          <div class="col-md-2 flist">
            <h3>Resources</h3>
            <a href="">Blogs</a><br> 
            <a href="">Gallery</a><br> 
          </div>
          <div class="col-md-2 flist">
            <h3>Company</h3>
            <a href="">Get Membership</a><br> 
            <a href="">Book Online</a><br> 
            <a href="">About us</a><br>
            <a href="">Offers</a><br><br>
          </div>
          <div class="col-md-2">
            <h3>Subscribe</h3>
            <form action="POST" data-netlify="true" class="footer-subscribe">
              <div class="">
                <input type="text" name="email" class="form-control rounded-0" placeholder="Email"><br>
                <input type="submit" name="submit" class="btn btn-primary rounded-0" value="Subscribe">
              </div>
            </form>
          </div>
        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <h2>
              <a href="https://www.facebook.com/vvstudioblr" target="_blank"><span class="icon icon-facebook-square"></span></a> &nbsp; &nbsp;
              <a href="https://instagram.com/vv_studio_blr?igshid=yumudgviuopq" target="_blank"><span class="icon icon-instagram"></span></a>
            </h2>
            <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Created with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://umm.media" target="_blank" >UMM</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  
    
  </div> <!-- .site-wrap -->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>

  
  <script src="js/main.js"></script>
    
  </body>
</html>