<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VV Studio &mdash; Website by ZARK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="icon" href="images/logo.jpg" sizes="16x16" type="image/jpg">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25"><a href="index.html"><img src="images/logo.jpg" width="90" height="90" alt=""></a></div>

          <div class="mx-auto ">
            <h4 style="color: #000; margin-top: 10px; margin-left: 50%;"><span class="icon-phone"></span> Call us at <span style="font-weight: 800;">8489797055</span></h4>
          </div>
        </div>
      </div>
      
    </header>

    <div class="intro-section" id="home-section">
      
      <div class="slide-1" style="background-image: url('images/hero_1.jpg');" data-stellar-background-ratio="0.9">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row align-items-center">
                <div class="mb-4">
                  <h1 style="font-size: 80px;" data-aos="fade-up" data-aos-delay="100">Thanks For Booking With Us!</h1>
                  <a data-aos="fade-up" data-aos-delay="200" href="/" class="btn btn-primary btn-pill" value="Book Now">Back to Home</a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
     
    <footer class="footer-section bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-2 flist">
            <h3>Services</h3>
            <a href="">Hair</a><br>
            <a href="">Skin</a><br>
            <a href="">Nail</a><br>
            <a href="">Make Over</a><br><br>
          </div>
          <div class="col-md-2 flist">
            <h3>Academy</h3>
            <a href="">Courses</a><br>
            <a href="">Enroll Now</a><br> 
          </div>
          <div class="col-md-2 flist">
            <h3>Studio</h3>
            <a href="">Pakages</a><br> 
          </div>
          <div class="col-md-2 flist">
            <h3>Resources</h3>
            <a href="">Blogs</a><br> 
            <a href="">Gallery</a><br> 
          </div>
          <div class="col-md-2 flist">
            <h3>Company</h3>
            <a href="">Get Membership</a><br> 
            <a href="">Book Online</a><br> 
            <a href="">About us</a><br>
            <a href="">Offers</a><br><br>
          </div>
          <div class="col-md-2">
            <h3>Subscribe</h3>
            <form action="POST" data-netlify="true" class="footer-subscribe">
              <div class="">
                <input type="text" name="email" class="form-control rounded-0" placeholder="Email"><br>
                <input type="submit" name="submit" class="btn btn-primary rounded-0" value="Subscribe">
              </div>
            </form>
          </div>
        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Created with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://thezark.in" target="_blank" >ZARK</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  
    
  </div> <!-- .site-wrap -->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>

  
  <script src="js/main.js"></script>
    
  </body>
</html>